
$background: #FFFFFF;
$grey-text-light: #BABFC7;
$black-text: #4B4B4B;
$bg-grey-light: #F8F8F8;
$grey-text: #5E5873;
$grey-text-label: #B9B9C3;
$purple-primary: #7367F0;
$purple-primary-opacity: rgba(115, 103, 240, 0.12);
